@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8
}

.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  /* overflow: hidden; */
}

.letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
} 


/* @font-face {
  font-family: "TrapBlack";
  src: url("../../assets/TrapFont/OpenType-PS/Trap-Black.otf");
}

@font-face {
  font-family: "TrapBold";
  src: url("../../assets/TrapFont/OpenType-PS/Trap-Bold.otf");
}

@font-face {
  font-family: "TrapLight";
  src: url("../../assets/TrapFont/OpenType-PS/Trap-Light.otf");
}

@font-face {
  font-family: "TrapMedium";
  src: url("../../assets/TrapFont/OpenType-PS/Trap-Medium.otf");
}

@font-face {
  font-family: "TrapRegular";
  src: url("../../assets/TrapFont/OpenType-PS/Trap-Regular.otf");
}

@font-face {
  font-family: "TrapSemibold";
  src: url("../../assets/TrapFont/OpenType-PS/Trap-SemiBold.otf");
}

@font-face {
  font-family: "AmsterdamScript";
  src: url("../../assets/AmsterdamScript.otf");
}

@font-face {
  font-family: "MarseilleRegular";
  src: url("../../assets/marseille-regular.otf");
}

@font-face {
  font-family: "NeutralFaceBold";
  src: url("../../assets/NeutralFace-Bold.otf");
}

@font-face {
  font-family: "NeutralFaceRegular";
  src: url("../../assets/NeutralFace.otf");
}

@font-face {
    font-family: "Krylon";
    src: url("../../assets/KRYLON_030222/Krylon-Regular.otf");
  } */