@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
}

.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  /* overflow: hidden; */
}

.letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 93%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

.navbar {
  cursor: pointer;
}